<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../resources/css/style.css">
    <title>My Personal Website</title>
    <link rel="icon" type="image/x-icon" href="../resources/img/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../views/home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/hobbies.html">Hobbies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/projects.html">Projects</a>
                    </li>
                </ul>
                <img src="../resources/img/favicon.ico" alt="icon" width="40px">
            </div>
        </div>
    </nav>
</head>

<body>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="../resources/img/myPic.jpg" alt="My Picture" id="self-image" width="350px">
            </div>
            <div class="col-8">
                <p style="font-size:30px; text-indent: 300px;">Hyma Jujjuru</p>
                <br>
                <p>
                    Hello! I am a Computer Science major at CU Boulder.<br>
                    I am also minoring in Business and Math. I am a freshman this year. <br>
                    <br>
                    I am very passionate about technology and love to
                    discover all the different types of technologies out there.
                    <br>
                    My current interests are Artificial Intelligence, Machine Learning, and Cybersecurity.
                    <br>
                    <br>
                </p>
                <a 
                class="btn text-white btn-floating m-1"
                href='../views/resume.html'
                style="background: lightskyblue;"
                > Link to Resume </a>

            </div>
        </div>
    </div>

    <script>
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
    </script>
</body>


<footer class="footer">
    <div class="container text-center">
        <a 
        class="btn text-white btn-absolute m-1"
        href="#"
        style="background-color: #55acee;"
        role="button"
        ><i class="fa fa-twitter"></i></a>
        <a 
        class="btn text-white btn-floating m-1" 
        href="#" style="background-color: #dd4b39;" 
        role="button"
        ><i class="fa fa-google"></i></a>
        <a 
        class="btn text-white btn-floating m-1"
        href="https://www.linkedin.com/in/hymajujjuru/"
        style="background-color: #0082ca;"
        role="button"
        ><i class="fa fa-linkedin"></i></a>
        <a 
        class="btn text-white btn-floating m-1"
        href="#"
        style="background-color: #ac2bac;"
        role="button"
        ><i class="fa fa-instagram"></i></a>
        <a 
        class="btn text-white btn-floating m-1"
        href="https://github.com/HymaJujjuru"
        style="background-color: #333333;"
        role="button"
        ><i class="fa fa-github"></i></a>
    </div>
    <a style="padding:5px;"></a>
</footer>

</html>