<html>

<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../resources/css/resume.css">
    <link rel="icon" type="image/x-icon" href="../resources/img/favicon.ico">

    <title>Hyma Jujjuru</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <a id="homebutton" class="btn waves-effect waves-light" role="button" href="../views/home.html">Home</a>

</head>

<body>
    <div id="resume" class="container">
        <h2 style="font-size: 40px;">Hyma Jujjuru</h2>
        <table class="bordered highlight">
            <thead>
                <tr>
                    <th>Education</th>
                    <th>GPA</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <b>University of Colorado Boulder</b> <br>
                        <u>Major</u>: Computer Science <br>
                        <u>Minor</u>: Math, Business <br>

                    </td>
                    <td>3.94</td>
                    <td>August,2023-<br>Present</td>
                </tr>
                <tr>
                    <td>Grandview High School</td>
                    <td>3.959</td>
                    <td>May, 2023</td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="bordered striped">
            <thead>
                <tr>
                    <th>Experience</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>
                            <b> Board Member in Engineering Exellence Fund</b> <br>
                             • Make unbiased decisions regarding funding based on the necessity and use of the proposal. <br>
                             • Strive to meet all the needs of engineering students in their academic journey.<br>
                             • Support the aspirations of engineering clubs and projects by providing financial support.
                        </p>
                    </td>
                    <td>2023-Present</td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <b> Club Member in Hack CU</b> <br>
                            • Arrange a Hackathon with other members on a chosen theme for that year.<br>
                            • Collaborate with sponsors and students to promote the Hackathon and receive funding for various elements of the event
                              like reservations, food, equipment, and etc.<br>
                            • Aid students to show off their skill sets and apply their knowledge from classes.
                        </p>
                    </td>
                    <td>2023-Present</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<footer class="footer">
    <div class="container text-center">
        <a class="btn text-white btn-floating m-1" href="#" style="background-color: #55acee;" role="button"><i
                class="fa fa-twitter"></i></a>
        <a class="btn text-white btn-floating m-1" href="#" style="background-color: #dd4b39;" role="button"><i
                class="fa fa-google"></i></a>
        <a class="btn text-white btn-floating m-1" href="https://www.linkedin.com/in/hymajujjuru/"
            style="background-color: #0082ca;" role="button"><i class="fa fa-linkedin"></i></a>
        <a class="btn text-white btn-floating m-1" href="#" style="background-color: #ac2bac;" role="button"><i
                class="fa fa-instagram"></i></a>
        <a class="btn text-white btn-floating m-1" href="https://github.com/HymaJujjuru"
            style="background-color: #333333;" role="button"><i class="fa fa-github"></i></a>
    </div>
    <a style="padding:0px;"></a>
</footer>

</html>